.startingpage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/images/Portfolio_Homepage.png");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}

.start-button-icon {
    text-decoration: none;
    color: black;
    font-size: 20pt;
    font-family: 'pixel';
    animation: blink 1s linear infinite;
}

@keyframes blink {
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity:.5;
    }
}

.start-button-text {
    text-decoration: none;
    color: black;
    padding-left: 1%;
    font-size: 20pt;
    font-family: 'pixel';
}

.start-button-container {
    width:100%;
    top: 60%;
    left: 42%;
    position:fixed;
}

.copyright {
    font-family: 'pixel';
    font-size: 15pt;
    position: fixed;
    top: 80%;
    left: 42%;
}