html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-family: 300 11px/1.4 './assets/fonts/Minecraft.ttf', 'sans-serif';
  color: #444;
  background: #00696B;
  overflow: hidden; 
  display:block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


